flows/Hand_Over_Sample.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Case_Mapping</name>
        <label>Create Case Mapping</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <actionName>HandoverSerilizedProductCase</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Case_Mapping_records</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Find_a_Match.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productId</name>
            <value>
                <elementReference>Find_a_Match.ProductId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serialnumbersList</name>
            <value>
                <elementReference>SerialNumbers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Sample Device Handover</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>genCaseSerialNumbersList</assignToReference>
            <name>genericCaseKpis</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Serialized_Products</name>
        <label>Get Serialized Products</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <actionName>HandOverController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Serialized_Products</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ProductId</name>
            <value>
                <elementReference>Find_a_Match.ProductId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SerialNumbers</name>
            <value>
                <elementReference>SerialNumbers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SerializedProducts</assignToReference>
            <name>SerializedProducts</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Show_Toast_Handover_Completed</name>
        <label>Show Toast  Handover Completed</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Sample request was completed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Continue_or_Terminate</name>
        <label>Continue or Terminate?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Terminate</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EndFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Authorization_Form</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <interviewLabel>HandOver_Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HandOver_Sample</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Authorization_Form</name>
        <label>Create Authorization Form</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>AuthorizationFormId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Authorization_Form_Text</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Handover Sample Device Request</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationForm</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Authorization_Form_Consent</name>
        <label>Create Authorization Form Consent</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>AuthorizationFormConsentId</assignRecordIdToReference>
        <connector>
            <targetReference>ESignature</targetReference>
        </connector>
        <inputAssignments>
            <field>AuthorizationFormTextId</field>
            <value>
                <elementReference>AuthorizationFormTextId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentGiverId</field>
            <value>
                <elementReference>Find_a_Match.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Handover Sample Device Request</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationFormConsent</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Authorization_Form_Text</name>
        <label>Create Authorization Form Text</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>AuthorizationFormTextId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Authorization_Form_Consent</targetReference>
        </connector>
        <inputAssignments>
            <field>AuthorizationFormId</field>
            <value>
                <elementReference>AuthorizationFormId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Locale</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Handover Sample Device Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SummaryAuthFormText</field>
            <value>
                <stringValue>Handover Sample Device Request</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationFormText</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Mapping_records</name>
        <label>Create Case Mapping records</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputReference>genCaseSerialNumbersList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignRecordIdToReference>OrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Serialized_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Find_a_Match.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Find_a_Match.Requested_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_PriceBook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Sample</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordLookups>
        <name>Find_a_Match</name>
        <label>Find a Match</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hand_Over_Sample</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PriceBook</name>
        <label>Get PriceBook</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>1718</locationY>
        <connector>
            <targetReference>Show_Toast_Handover_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_a_Match.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Serialized_Products</name>
        <label>Update Serialized Products</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Create_Case_Mapping</targetReference>
        </connector>
        <inputReference>SerializedProducts</inputReference>
    </recordUpdates>
    <screens>
        <name>ESignature</name>
        <label>ESignature</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Get_PriceBook</targetReference>
        </connector>
        <fields>
            <name>CaptureSIngature</name>
            <extensionName>c:eSignature</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>authFormId</name>
                <value>
                    <elementReference>AuthorizationFormConsentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactName</name>
                <value>
                    <elementReference>Find_a_Match.Contact.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupMessage</name>
                <value>
                    <stringValue>The product quantity will be updated once this request is completed.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupHeader</name>
                <value>
                    <stringValue>Complete Request?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deviceTypeName</name>
                <value>
                    <stringValue>Sample</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Hand_Over_Sample</name>
        <label>Hand Over Sample</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Continue_or_Terminate</targetReference>
        </connector>
        <fields>
            <name>Hand_Over_Details</name>
            <extensionName>c:requestHandOverProduct</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quantitylabel</name>
                <value>
                    <stringValue>Sample Quantity Requested</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>datelabel</name>
                <value>
                    <stringValue>Requested Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountlabel</name>
                <value>
                    <stringValue>Account Requesting</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactlabel</name>
                <value>
                    <stringValue>Provider Requesting</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationlabel</name>
                <value>
                    <stringValue>Account Location </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Find_a_Match.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSample</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serialNumbers</name>
                <value>
                    <elementReference>SerialNumbers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>productLocation</name>
                <value>
                    <elementReference>LocationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>handoverDetailsHeader</name>
                <value>
                    <stringValue>Sample Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>handoverProductHeader</name>
                <value>
                    <stringValue>Sample Devices</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SerialNumbers</assignToReference>
                <name>serialNumbers</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>EndFlow</assignToReference>
                <name>cancelFlow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LocationId</assignToReference>
                <name>productLocation</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_a_Match</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AuthorizationFormConsentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationFormTextId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EndFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>genCaseSerialNumbersList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Generic_Case_KPI__c</objectType>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SerializedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>SerialNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
