flows/Handover_Loan.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Case_Mapping</name>
        <label>Create Case Mapping</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <actionName>HandoverSerilizedProductCase</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Case_Mapping_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Case_Details.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productId</name>
            <value>
                <elementReference>Case_Details.ProductId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serialnumbersList</name>
            <value>
                <elementReference>serialNumbers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Loan Device Handover</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>genCasetoSerMapList</assignToReference>
            <name>genericCaseKpis</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Show_Toast_Order</name>
        <label>Show Toast Order</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Create_Loan_Return_case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Loan request was completed and an order was created.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Product</name>
        <label>Update Product</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <actionName>HandOverController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Serialized_Products</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ProductId</name>
            <value>
                <elementReference>Case_Details.ProductId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SerialNumbers</name>
            <value>
                <elementReference>serialNumbers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>serializedProductsList</assignToReference>
            <name>SerializedProducts</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Continue_or_Terminate</name>
        <label>Continue or Terminate?</label>
        <locationX>1766</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Terminate</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TerminateFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Auth_Form</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <interviewLabel>Handover_Loan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Handover_Loan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Auth_Form_with_AuthFormId</name>
        <label>Auth Form with AuthFormId</label>
        <locationX>50</locationX>
        <locationY>806</locationY>
        <assignRecordIdToReference>authFormTextId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Auth_Form_Consent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AuthorizationFormId</field>
            <value>
                <elementReference>authFormId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Locale</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Medical Device Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SummaryAuthFormText</field>
            <value>
                <stringValue>Handover Loan Device Request</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationFormText</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Auth_Form</name>
        <label>Create Auth Form</label>
        <locationX>50</locationX>
        <locationY>686</locationY>
        <assignRecordIdToReference>authFormId</assignRecordIdToReference>
        <connector>
            <targetReference>Auth_Form_with_AuthFormId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Handover Loan Device Request</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationForm</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Auth_Form_Consent</name>
        <label>Create Auth Form Consent</label>
        <locationX>50</locationX>
        <locationY>926</locationY>
        <assignRecordIdToReference>authFormConsentId</assignRecordIdToReference>
        <connector>
            <targetReference>eSignature</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AuthorizationFormTextId</field>
            <value>
                <elementReference>authFormTextId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentGiverId</field>
            <value>
                <elementReference>Case_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Handover Loan Device Request</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationFormConsent</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Mapping_Records</name>
        <label>Create Case Mapping Records</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>genCasetoSerMapList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Loan_Return_case</name>
        <label>Create Loan Return case</label>
        <locationX>50</locationX>
        <locationY>2126</locationY>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Case_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Case_Details.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Loan Device Return - {!Case_Details.Product.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Date__c</field>
            <value>
                <elementReference>Case_Details.From_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Case_Details.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>Case_Details.ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Handedover__c</field>
            <value>
                <elementReference>quantityHandedover</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Case_Details.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>mdReturnRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Loan Device Return - {!Case_Details.Product.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Date__c</field>
            <value>
                <elementReference>Case_Details.To_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Loan Device Return</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Orders</name>
        <label>Create Orders</label>
        <locationX>50</locationX>
        <locationY>1286</locationY>
        <assignRecordIdToReference>OrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Product</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Case_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId__c</field>
            <value>
                <elementReference>Case_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Case_Details.From_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_PriceBook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Loan</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordLookups>
        <name>Case_Details</name>
        <label>Case Details</label>
        <locationX>1766</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Handover_Product</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PriceBook</name>
        <label>Get PriceBook</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Orders</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>1766</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MedicalDeviceReturn</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>mdReturnRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>1886</locationY>
        <connector>
            <targetReference>Show_Toast_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Serialized_Products</name>
        <label>Update Serialized Products</label>
        <locationX>50</locationX>
        <locationY>1526</locationY>
        <connector>
            <targetReference>Create_Case_Mapping</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>serializedProductsList</inputReference>
    </recordUpdates>
    <screens>
        <name>eSignature</name>
        <label>eSignature</label>
        <locationX>50</locationX>
        <locationY>1046</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_PriceBook</targetReference>
        </connector>
        <fields>
            <name>esignatures</name>
            <extensionName>c:eSignature</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>authFormId</name>
                <value>
                    <elementReference>authFormConsentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactName</name>
                <value>
                    <elementReference>contactName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupMessage</name>
                <value>
                    <stringValue>An order is placed for this loan and the product quantity is updated when this request is completed.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupHeader</name>
                <value>
                    <stringValue>Complete Request?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deviceTypeName</name>
                <value>
                    <stringValue>Loan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>handingover</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>314</locationX>
        <locationY>2246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Handover_Product</name>
        <label>Handover Product</label>
        <locationX>1766</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Continue_or_Terminate</targetReference>
        </connector>
        <fields>
            <name>reqHandover</name>
            <extensionName>c:requestHandOverProduct</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountlabel</name>
                <value>
                    <stringValue>Account Requesting</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Case_Details.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactlabel</name>
                <value>
                    <stringValue>Provider Requesting</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>datelabel</name>
                <value>
                    <stringValue>Loan Duration</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSample</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationlabel</name>
                <value>
                    <stringValue>Account Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quantitylabel</name>
                <value>
                    <stringValue>Loan Quantity Requested</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serialNumbers</name>
                <value>
                    <elementReference>serialNumbers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>handoverDetailsHeader</name>
                <value>
                    <stringValue>Loan Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>handoverProductHeader</name>
                <value>
                    <stringValue>Loaned Device(s)</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>serialNumbers</assignToReference>
                <name>serialNumbers</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>TerminateFlow</assignToReference>
                <name>cancelFlow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>quantityHandedover</assignToReference>
                <name>serialNumbersLength</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contactName</assignToReference>
                <name>contactName</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1640</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>authFormConsentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>authFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>authFormTextId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>genCasetoSerMapList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Generic_Case_KPI__c</objectType>
    </variables>
    <variables>
        <name>mdReturnRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productItemsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>quantityHandedover</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>serializedProductsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>serialNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TerminateFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
