flows/Loaner_Return.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Product_Return_Message</name>
        <label>Product Return Message</label>
        <locationX>578</locationX>
        <locationY>1970</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Product was retrieved.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Product</name>
        <label>Update Product</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <actionName>MarkAsReturnController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Products</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>locationId</name>
            <value>
                <elementReference>ouputLocationValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prodcutId</name>
            <value>
                <elementReference>outputProductId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>returnDate</name>
            <value>
                <elementReference>outputReturnDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serialNumbers</name>
            <value>
                <elementReference>serialNumbers</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>serializedProductsList</assignToReference>
            <name>serializedProducts</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Return_Quantity</name>
        <label>Check Return Quantity</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Product_Return_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quantityHandedOver</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>returnQuantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quantity_on_Case</targetReference>
            </connector>
            <label>Existing Quantity</label>
        </rules>
        <rules>
            <name>No_Quantity_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quantityHandedOver</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>returnQuantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case_to_closed</targetReference>
            </connector>
            <label>No Quantity Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_or_Terminate</name>
        <label>Continue or Terminate</label>
        <locationX>2228</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Terminate</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>terminateFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KPI_questions_Capture</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_or_Terminate_0</name>
        <label>Continue or Terminate</label>
        <locationX>1590</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Terminate</defaultConnectorLabel>
        <rules>
            <name>Continue_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>terminateFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <formulas>
        <name>remainingQuantity</name>
        <dataType>Number</dataType>
        <expression>{!allOutputQuantityNumber} - {!quantityValueNumber}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>returnQuantity</name>
        <dataType>Number</dataType>
        <expression>{!returnQuantityOnCase} + {!quantityValueNumber}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Mark As Return {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mark As Return</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Authorization_Form_Id</name>
        <label>Authorization Form Id</label>
        <locationX>2228</locationX>
        <locationY>158</locationY>
        <assignRecordIdToReference>authFormId</assignRecordIdToReference>
        <connector>
            <targetReference>Authorization_Form_Text</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Loan Device Return</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationForm</object>
    </recordCreates>
    <recordCreates>
        <name>Authorization_Form_Text</name>
        <label>Authorization Form Text Id</label>
        <locationX>2228</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>authFormTextId</assignRecordIdToReference>
        <connector>
            <targetReference>Capture_Product_Details</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AuthorizationFormId</field>
            <value>
                <elementReference>authFormId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Locale</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Loan Device Return</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SummaryAuthFormText</field>
            <value>
                <stringValue>Loan Device Return</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationFormText</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Authorization_Form_Consent</name>
        <label>Create Authorization Form Consent</label>
        <locationX>2228</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>authFormConsentId</assignRecordIdToReference>
        <connector>
            <targetReference>Continue_or_Terminate</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AuthorizationFormTextId</field>
            <value>
                <elementReference>authFormTextId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentGiverId</field>
            <value>
                <elementReference>outputContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Loan Device Return</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationFormConsent</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Generic_Case_KPis</name>
        <label>Create Generic Case KPis</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Create_Generic_Visit_KPIs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>kPIQueriesList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Generic_Visit_KPIs</name>
        <label>Create Generic Visit KPIs</label>
        <locationX>578</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Check_Return_Quantity</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>gvKPIQueriesList</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_case_to_closed</name>
        <label>Update case to closed</label>
        <locationX>578</locationX>
        <locationY>1718</locationY>
        <connector>
            <targetReference>Product_Return_Message</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity_Returned__c</field>
            <value>
                <elementReference>returnQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Products</name>
        <label>Update Products</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Create_Generic_Case_KPis</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>serializedProductsList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quantity_on_Case</name>
        <label>Update Quantity on Case</label>
        <locationX>50</locationX>
        <locationY>1718</locationY>
        <connector>
            <targetReference>Product_Return_Message</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity_Returned__c</field>
            <value>
                <elementReference>returnQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Capture_Product_Details</name>
        <label>Capture Product Details</label>
        <locationX>2228</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Authorization_Form_Consent</targetReference>
        </connector>
        <fields>
            <name>captureProductDetails</name>
            <extensionName>c:markAsReturn</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountlabel</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>caseId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactlabel</name>
                <value>
                    <stringValue>Provider</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>datelabel</name>
                <value>
                    <stringValue>Loan Duration</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isProductDetails</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationlabel</name>
                <value>
                    <stringValue>Account Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>returnDate</name>
                <value>
                    <elementReference>outputReturnDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>productLocation</name>
                <value>
                    <elementReference>ouputLocationValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quantitylabel</name>
                <value>
                    <stringValue>Requested Quantity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quantValue</name>
                <value>
                    <elementReference>quantityValueNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>productLocationName</name>
                <value>
                    <elementReference>outputLocationName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>accountId</assignToReference>
                <name>accountId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allOutputQuantityNumber</assignToReference>
                <name>allProductsQuantity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputContactName</assignToReference>
                <name>contactName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputReturnDate</assignToReference>
                <name>returnDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputProductId</assignToReference>
                <name>productId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputLocationName</assignToReference>
                <name>productLocationName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ouputLocationValue</assignToReference>
                <name>productLocation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputProductName</assignToReference>
                <name>productName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>quantityValueNumber</assignToReference>
                <name>quantValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>terminateFlow</assignToReference>
                <name>cancelFlow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputContactId</assignToReference>
                <name>contactId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>quantityHandedOver</assignToReference>
                <name>quantityHandedOver</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>returnQuantityOnCase</assignToReference>
                <name>returnQuantityOnCase</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1282</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(209, 23, 23);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>esignature_screen</name>
        <label>esignature screen</label>
        <locationX>1590</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Continue_or_Terminate_0</targetReference>
        </connector>
        <fields>
            <name>esignaturecmp</name>
            <extensionName>c:eSignature</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>popupMessage</name>
                <value>
                    <stringValue>Products will be marked as retrieved and quantities will be updated if you proceed.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactName</name>
                <value>
                    <elementReference>outputContactName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>authFormId</name>
                <value>
                    <elementReference>authFormConsentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupHeader</name>
                <value>
                    <stringValue>Retrieve Product?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isBackButtonEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deviceTypeName</name>
                <value>
                    <stringValue>Loan</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>terminateFlow</assignToReference>
                <name>isterminateflow</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>KPI_questions_Capture</name>
        <label>KPI questions Capture</label>
        <locationX>1590</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>esignature_screen</targetReference>
        </connector>
        <fields>
            <name>CaptureProductKpis</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GnrcVstKeyPerformanceInd</typeValue>
            </dataTypeMappings>
            <extensionName>c:captureProductKPIDetails</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountlabel</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>caseId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactlabel</name>
                <value>
                    <stringValue>Provider</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>datelabel</name>
                <value>
                    <stringValue>Loan Duration</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>returningDate</name>
                <value>
                    <elementReference>outputReturnDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>Loan Device Return</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>productQuantity</name>
                <value>
                    <elementReference>quantityValueNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSerialNumbersExist</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>kPIQueriesSobjectList</name>
                <value>
                    <elementReference>kPIQueriesList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationlabel</name>
                <value>
                    <stringValue>Account Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quantitylabel</name>
                <value>
                    <stringValue>Requested Quantity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>returningLocation</name>
                <value>
                    <elementReference>outputLocationName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>returningLocationId</name>
                <value>
                    <elementReference>ouputLocationValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serializedProductsList</name>
                <value>
                    <elementReference>serialNumbers</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>kPIQueriesList</assignToReference>
                <name>kPIQueriesSobjectList</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serialNumbers</assignToReference>
                <name>serializedProductsList</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>gvKPIQueriesList</assignToReference>
                <name>kPIQueriesGVKPIObjectList</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2102</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Authorization_Form_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allOutputQuantityNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>authFormConsentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>authFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>authFormTextId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>gvKPIQueriesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GnrcVstKeyPerformanceInd</objectType>
    </variables>
    <variables>
        <name>kPIQueriesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Generic_Case_KPI__c</objectType>
    </variables>
    <variables>
        <name>ouputLocationValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputLocationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputReturnDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quantityHandedOver</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>quantityValueNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>returnQuantityOnCase</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>serializedProductsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>serialNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>terminateFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
