flows/Loan_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Creation_Toast</name>
        <label>Case Creation Toast</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Loan request was created.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Continue_or_Terminate</name>
        <label>Continue or Terminate</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Terminate</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TerminateFlow</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Details</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LocationOf_Provider</name>
        <dataType>String</dataType>
        <displayField>LocationId</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>outputAccountRecordId</elementReference>
            </value>
        </filters>
        <object>ProductFulfillmentLocation</object>
        <outputAssignments>
            <assignToReference>loc_picklist</assignToReference>
            <field>LocationId</field>
        </outputAssignments>
        <valueField>LocationId</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Loan Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Authorization_Form</name>
        <label>Authorization Form</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>authFormId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Authorization_Form_Text</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Loan Device Request</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationForm</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Authorization_Form_Text</name>
        <label>Create Authorization Form Text</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>authFormText</assignRecordIdToReference>
        <connector>
            <targetReference>Provider_Details</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AuthorizationFormId</field>
            <value>
                <elementReference>authFormId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Locale</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Loan Device Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SummaryAuthFormText</field>
            <value>
                <stringValue>Loan Device Request</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationFormText</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Authorization_From_Consent</name>
        <label>Create Authorization From Consent</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignRecordIdToReference>authoFormConsentId</assignRecordIdToReference>
        <connector>
            <targetReference>Request_Summary</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AuthorizationFormTextId</field>
            <value>
                <elementReference>authFormText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentGiverId</field>
            <value>
                <elementReference>relatedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Loan Device Request</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationFormConsent</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Loan_Case</name>
        <label>Create Loan Case</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignRecordIdToReference>caseId</assignRecordIdToReference>
        <connector>
            <targetReference>Case_Creation_Toast</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>outputAccountRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>relatedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Loan Device Request - {!outputProductName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Date__c</field>
            <value>
                <elementReference>outPutFromDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>relatedLocId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>outputProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>outputProductQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>mdRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Loan Device Request - {!outputProductName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Date__c</field>
            <value>
                <elementReference>outputToDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Loan Device Request</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Authorization_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MedicalDeviceRequest</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>mdRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Esignature_Screen</name>
        <label>Esignature Screen</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Loan_Case</targetReference>
        </connector>
        <fields>
            <name>esignature</name>
            <extensionName>c:eSignature</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>authFormId</name>
                <value>
                    <elementReference>authoFormConsentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupMessage</name>
                <value>
                    <stringValue>A case record is created for the request if you proceed.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupHeader</name>
                <value>
                    <stringValue>Submit Request?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactName</name>
                <value>
                    <elementReference>relatedContactName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deviceTypeName</name>
                <value>
                    <stringValue>Loan</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Message_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(228, 14, 14);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Details</name>
        <label>Product Details</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Create_Authorization_From_Consent</targetReference>
        </connector>
        <fields>
            <name>Productdetailstext</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Capture Product Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductDetails</name>
            <extensionName>c:captureRequestProductDetails</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>productId</name>
                <value>
                    <elementReference>outputProductId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>productName</name>
                <value>
                    <elementReference>outputProductName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>durationName</name>
                <value>
                    <stringValue>Duration</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSampleRequest</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fromDate</name>
                <value>
                    <elementReference>outPutFromDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quantValue</name>
                <value>
                    <elementReference>outputProductQuantity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toDate</name>
                <value>
                    <elementReference>outputToDate</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>outPutFromDate</assignToReference>
                <name>fromDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputProductId</assignToReference>
                <name>productId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputProductName</assignToReference>
                <name>productName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputProductQuantity</assignToReference>
                <name>quantValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputToDate</assignToReference>
                <name>toDate</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provider_Details</name>
        <label>Provider Details</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Continue_or_Terminate</targetReference>
        </connector>
        <fields>
            <name>CaptureText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Capture Request Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProviderLoc</name>
            <extensionName>c:relatedPicklistOptions</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>outputAccountRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountName</name>
                <value>
                    <elementReference>outputAccountRecordName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountFieldname</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>relatedContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactName</name>
                <value>
                    <elementReference>relatedContactName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationId</name>
                <value>
                    <elementReference>relatedLocId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationName</name>
                <value>
                    <elementReference>relatedLocationName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>providerfieldLabel</name>
                <value>
                    <stringValue>Provider</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeHolder</name>
                <value>
                    <stringValue>Select Account..</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactFieldLabel</name>
                <value>
                    <stringValue>Provider</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactIconName</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactObjectApiName</name>
                <value>
                    <stringValue>contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactPlaceHolder</name>
                <value>
                    <stringValue>Select Contact...</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>relatedContactId</assignToReference>
                <name>contactId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>relatedContactName</assignToReference>
                <name>contactName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>relatedLocId</assignToReference>
                <name>locationId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>relatedLocationName</assignToReference>
                <name>locationName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputAccountRecordId</assignToReference>
                <name>accountId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputAccountRecordName</assignToReference>
                <name>accountName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>TerminateFlow</assignToReference>
                <name>cancelFlow</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Summary</name>
        <label>Request Summary</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Esignature_Screen</targetReference>
        </connector>
        <fields>
            <name>captureSummary</name>
            <extensionName>c:captureSummaryDetails</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Does this look all right to you?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Loan Request</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SummaryText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Request Summary&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!outputProductName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Qty Requested:&lt;/span&gt;&lt;span style=&quot;color: rgb(11, 11, 11);&quot;&gt; {!outputProductQuantity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Loan Duration:&lt;/span&gt;&lt;span style=&quot;color: rgb(11, 11, 11);&quot;&gt; {!outPutFromDate} to {!outputToDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Account Req: &lt;/span&gt;&lt;a href=&quot;/{!outputAccountRecordId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(10, 81, 234);&quot;&gt;{!outputAccountRecordName}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Provider Req: &lt;/span&gt;&lt;a href=&quot;/{!relatedContactId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(10, 81, 234); background-color: rgb(255, 255, 255);&quot;&gt;{!relatedContactName}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Account Location: &lt;/span&gt;&lt;a href=&quot;/{!relatedLocId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(10, 81, 234); background-color: rgb(255, 255, 255);&quot;&gt;{!relatedLocationName}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>authFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>authFormText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>authoFormConsentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseCreationMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>The case is created successfully</stringValue>
        </value>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputAccRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loc_picklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mdRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Order_Created_Msg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Order is created successfully</stringValue>
        </value>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputAccountRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputAccountRecordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outPutFromDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputProductQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>outputToDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedLocationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedLocId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TerminateFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
