flows/Mark_Product_for_Order.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Serial_Numbers</name>
        <label>Get Serial Numbers</label>
        <locationX>1194</locationX>
        <locationY>206</locationY>
        <actionName>CycleCountController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Serial_Numbers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>LocationId</name>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProductId</name>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ScannedSerialNumbers</name>
            <value>
                <elementReference>ScannedSerialNumbers</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SerializedProducts</assignToReference>
            <name>SerializedProducts</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Serialized_Products</name>
        <label>Get Serialized Products</label>
        <locationX>314</locationX>
        <locationY>2234</locationY>
        <actionName>HandOverController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Serialized_Products</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>LocationId</name>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProductId</name>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SelectedSerialNumberIds</name>
            <value>
                <elementReference>SelectedSerialNumberIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Consumed</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SerializedProducts</assignToReference>
            <name>SerializedProducts</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Show_Toast</name>
        <label>Show Toast</label>
        <locationX>314</locationX>
        <locationY>2474</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Product was related to an order.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assgin_OrderItem_To_List</name>
        <label>Assgin OrderItem To List</label>
        <locationX>402</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>ListOrderItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset</name>
        <label>Assign Asset</label>
        <locationX>402</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>Asset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Purchased</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Uuid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isVisitSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterative_over_Selected_Serial_Numbers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_PriceBookEntry.Product2.Name}_{!Iterative_over_Selected_Serial_Numbers}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Asset_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_to_List</name>
        <label>Assign Asset to List</label>
        <locationX>402</locationX>
        <locationY>1778</locationY>
        <assignmentItems>
            <assignToReference>ListAsset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterative_over_Selected_Serial_Numbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OrderItem</name>
        <label>Assign OrderItem</label>
        <locationX>402</locationX>
        <locationY>1418</locationY>
        <assignmentItems>
            <assignToReference>OrderProduct.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PriceBookEntry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assgin_OrderItem_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_New_Order</name>
        <label>Create New Order?</label>
        <locationX>314</locationX>
        <locationY>926</locationY>
        <defaultConnector>
            <targetReference>Iterative_over_Selected_Serial_Numbers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Order</defaultConnectorLabel>
        <rules>
            <name>Create_NewOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>existing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order</targetReference>
            </connector>
            <label>Create New Order</label>
        </rules>
    </decisions>
    <interviewLabel>Mark Product for Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mark Product for Order</label>
    <loops>
        <name>Iterative_over_Selected_Serial_Numbers</name>
        <label>Iterative over Selected Serial Numbers</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <collectionReference>SelectedSerialNumbers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_OrderItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_OrderItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assets</name>
        <label>Create Assets</label>
        <locationX>314</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Get_Serialized_Products</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>ListAsset</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>50</locationX>
        <locationY>1046</locationY>
        <assignRecordIdToReference>OrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Iterative_over_Selected_Serial_Numbers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PriceBookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Mark for Order</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <name>Create_OrderItems</name>
        <label>Create OrderItems</label>
        <locationX>314</locationX>
        <locationY>1994</locationY>
        <connector>
            <targetReference>Create_Assets</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>ListOrderItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_PriceBookEntry</name>
        <label>Get PriceBookEntry</label>
        <locationX>314</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Serialized_Products</name>
        <label>Update Serialized Products</label>
        <locationX>314</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Show_Toast</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>SerializedProducts</inputReference>
    </recordUpdates>
    <screens>
        <name>Display_Serial_Numbers</name>
        <label>Display Serial Numbers</label>
        <locationX>1194</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Order_Details</targetReference>
        </connector>
        <fields>
            <name>markSerialNumbers</name>
            <extensionName>c:markSerialNumbers</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Relate to Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedSerialNumberIds</name>
                <value>
                    <elementReference>SelectedSerialNumberIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SerializedProducts</name>
                <value>
                    <elementReference>SerializedProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedSerialNumbers</name>
                <value>
                    <elementReference>SelectedSerialNumbers</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedSerialNumbers</assignToReference>
                <name>selectedSerialNumbers</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedSerialNumberIds</assignToReference>
                <name>selectedSerialNumberIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>TerminateFlow</assignToReference>
                <name>terminate</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1018</locationX>
        <locationY>2474</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Details</name>
        <label>Order Details</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VisitDetails</targetReference>
        </connector>
        <fields>
            <name>markProductForOrder</name>
            <extensionName>c:markProductForOrder</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>ContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationId</name>
                <value>
                    <elementReference>LocationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderId</name>
                <value>
                    <elementReference>OrderId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderValue</name>
                <value>
                    <elementReference>OrderType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>priceBookId</name>
                <value>
                    <elementReference>PriceBookId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AccountId</assignToReference>
                <name>accountId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContactId</assignToReference>
                <name>contactId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LocationId</assignToReference>
                <name>locationId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>OrderId</assignToReference>
                <name>orderId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>OrderType</assignToReference>
                <name>orderValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PriceBookId</assignToReference>
                <name>priceBookId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContactName</assignToReference>
                <name>contactName</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VisitDetails</name>
        <label>Visit Details</label>
        <locationX>314</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_PriceBookEntry</targetReference>
        </connector>
        <fields>
            <name>markForOrderVisit</name>
            <extensionName>c:markForOrderVisit</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visitId</name>
                <value>
                    <elementReference>isVisitSelected</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>OrderType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupHeader</name>
                <value>
                    <stringValue>Relate to Order?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupMessage</name>
                <value>
                    <stringValue>The product status and quantity are updated if you proceed.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isVisitSelected</assignToReference>
                <name>visitId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1068</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Serial_Numbers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AuthorizationFormConsentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationFormTextId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isVisitSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>ListOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <description>New Order Or Existing Order</description>
        <name>OrderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScannedSerialNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSerialNumberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSerialNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SerializedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>TerminateFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VisitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
