flows/Mark_For_Lost.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Serialized_Products</name>
        <label>Get Serialized Products</label>
        <locationX>710</locationX>
        <locationY>206</locationY>
        <actionName>CycleCountController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Product_Names</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>LocationId</name>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProductId</name>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ScannedSerialNumbers</name>
            <value>
                <elementReference>ScannedSerialNumbers</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>serializedProducts</assignToReference>
            <name>SerializedProducts</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Toast_Message</name>
        <label>Toast Message</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Products were marked as lost.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Product_Loss</name>
        <label>Update Product Loss</label>
        <locationX>50</locationX>
        <locationY>926</locationY>
        <actionName>HandOverController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Serialized_Products</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>LocationId</name>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProductId</name>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SelectedSerialNumberIds</name>
            <value>
                <elementReference>SelectedSerialNumberIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>serializedProducts</assignToReference>
            <name>SerializedProducts</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <dynamicChoiceSets>
        <name>CollectionSetSerializedProducts</name>
        <collectionReference>serializedProducts</collectionReference>
        <dataType>String</dataType>
        <displayField>SerialNumber</displayField>
        <object>SerializedProduct</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Mark For Lost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mark As Lost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lost_Products</name>
        <label>Create Lost Products</label>
        <locationX>50</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Update_Product_Loss</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>lostProductList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Product_Names</name>
        <label>Get Product Names</label>
        <locationX>710</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Serial_Number_Display</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Serialized_Products</name>
        <label>Update Serialized Products</label>
        <locationX>50</locationX>
        <locationY>1046</locationY>
        <connector>
            <targetReference>Toast_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>serializedProducts</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>1286</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayFaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Loss_Details</name>
        <label>Product Loss Details</label>
        <locationX>50</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Lost_Products</targetReference>
        </connector>
        <fields>
            <name>markforLostProduct</name>
            <extensionName>c:markForLost</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>popupBodyAssign</name>
                <value>
                    <stringValue>The product statuses and quantities are updated if you proceed.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popUpHeader</name>
                <value>
                    <stringValue>Confirm Action</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SerializedProducts</name>
                <value>
                    <elementReference>serializedProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedSerialNumbersIds</name>
                <value>
                    <elementReference>SelectedSerialNumberIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ProductName</name>
                <value>
                    <elementReference>Get_Product_Names.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LocationId</name>
                <value>
                    <elementReference>LocationId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>lostProductList</assignToReference>
                <name>lostSerializedProducts</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serializedProducts</assignToReference>
                <name>SerializedProducts</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Serial_Number_Display</name>
        <label>Serial Number Display</label>
        <locationX>537</locationX>
        <locationY>526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Product_Loss_Details</targetReference>
        </connector>
        <fields>
            <name>markSerialNumbers</name>
            <extensionName>c:markSerialNumbers</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>SerializedProducts</name>
                <value>
                    <elementReference>serializedProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedSerialNumberIds</name>
                <value>
                    <elementReference>SelectedSerialNumberIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Mark As Lost</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedSerialNumbers</name>
                <value>
                    <elementReference>SelectedSerialNumbers</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedSerialNumberIds</assignToReference>
                <name>selectedSerialNumberIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedSerialNumbers</assignToReference>
                <name>selectedSerialNumbers</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Cancel</assignToReference>
                <name>terminate</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Serialized_Products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Cancel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lostProductList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lost_Serialized_Product__c</objectType>
    </variables>
    <variables>
        <name>ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScannedSerialNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSerialNumberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSerialNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serializedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>serialNumber</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VisitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
