flows/Mark_Product_for_Order.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Serial_Numbers</name>
        <label>Get Serial Numbers</label>
        <locationX>1326</locationX>
        <locationY>158</locationY>
        <actionName>CycleCountController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Serial_Numbers</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>LocationId</name>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProductId</name>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ScannedSerialNumbers</name>
            <value>
                <elementReference>ScannedSerialNumbers</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SerializedProducts</assignToReference>
            <name>SerializedProducts</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Serialized_Products</name>
        <label>Get Serialized Products</label>
        <locationX>578</locationX>
        <locationY>1694</locationY>
        <actionName>HandOverController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Serialized_Products</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>LocationId</name>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProductId</name>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SelectedSerialNumberIds</name>
            <value>
                <elementReference>SelectedSerialNumberIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Consumed</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SerializedProducts</assignToReference>
            <name>serializedProducts</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Create_New_Order</name>
        <label>Create New Order?</label>
        <locationX>1326</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Visit_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Order</defaultConnectorLabel>
        <rules>
            <name>Create_NewOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>existing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order</targetReference>
            </connector>
            <label>Create New Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Visit_Selected</name>
        <label>Visit Selected</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Screen_Properties</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Visit_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isVisitSelected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Authorization_Form</targetReference>
            </connector>
            <label>Is Visit Selected</label>
        </rules>
    </decisions>
    <interviewLabel>Mark Product for Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mark Product for Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Authorization_Form</name>
        <label>Create Authorization Form</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>AuthorizationFormId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Authorization_Form_Text</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Mark Product for Order</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationForm</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Authorization_Form_Consent</name>
        <label>Create Authorization Form Consent</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignRecordIdToReference>AuthorizationFormConsentId</assignRecordIdToReference>
        <connector>
            <targetReference>Capture_Signature</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AuthorizationFormTextId</field>
            <value>
                <elementReference>AuthorizationFormTextId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentGiverId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Mark Product for Order</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationFormConsent</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Authorization_Form_Text</name>
        <label>Create Authorization Form Text</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignRecordIdToReference>AuthorizationFormTextId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Authorization_Form_Consent</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AuthorizationFormId</field>
            <value>
                <elementReference>AuthorizationFormId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Mark Product for Order</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationFormText</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Visit_Selected</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Mark for Order</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Serialized_Products</name>
        <label>Update Serialized Products</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>SerializedProducts</inputReference>
    </recordUpdates>
    <screens>
        <name>Capture_Signature</name>
        <label>Capture Signature</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Properties</targetReference>
        </connector>
        <fields>
            <name>Signature</name>
            <extensionName>c:eSignature</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>authFormId</name>
                <value>
                    <elementReference>AuthorizationFormConsentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupHeader</name>
                <value>
                    <stringValue>Complete Action</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupMessage</name>
                <value>
                    <stringValue>Are you sure you want to Mark these as Ordered? Marking the selected S.NOs as Ordered will also update your Inventory details </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Serial_Numbers</name>
        <label>Display Serial Numbers</label>
        <locationX>1326</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Order_Details</targetReference>
        </connector>
        <fields>
            <name>markSerialNumbers</name>
            <extensionName>c:markSerialNumbers</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>SerializedProducts</name>
                <value>
                    <elementReference>SerializedProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>SelectedSerialNumberIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Select Serial Numbers to Mark for Order</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedSerialNumberIds</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1282</locationX>
        <locationY>1934</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Details</name>
        <label>Order Details</label>
        <locationX>1326</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VisitDetails</targetReference>
        </connector>
        <fields>
            <name>markProductForOrder</name>
            <extensionName>c:markProductForOrder</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>ContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationId</name>
                <value>
                    <elementReference>LocationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderId</name>
                <value>
                    <elementReference>OrderId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>OrderType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AccountId</assignToReference>
                <name>accountId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContactId</assignToReference>
                <name>contactId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LocationId</assignToReference>
                <name>locationId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>OrderId</assignToReference>
                <name>orderId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>OrderType</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Properties</name>
        <label>Screen Properties</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Serialized_Products</targetReference>
        </connector>
        <fields>
            <name>visitListViews</name>
            <fieldText>&lt;p&gt;{!isVisitSelected}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VisitDetails</name>
        <label>Visit Details</label>
        <locationX>1326</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Create_New_Order</targetReference>
        </connector>
        <fields>
            <name>markForOrderVisit</name>
            <extensionName>c:markForOrderVisit</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>OrderType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visitId</name>
                <value>
                    <elementReference>isVisitSelected</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isVisitSelected</assignToReference>
                <name>visitId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1200</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Serial_Numbers</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationFormConsentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationFormTextId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isVisitSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>New Order Or Existing Order</description>
        <name>OrderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScannedSerialNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSerialNumberIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SerializedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>VisitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
