flows/Mark_as_Transferred_Out.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Serialised_Products</name>
        <label>Get Serialised Products</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <actionName>CycleCountController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Serial_Number_Display</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>LocationId</name>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProductId</name>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ScannedSerialNumbers</name>
            <value>
                <elementReference>ScannedSerialNumbers</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>serializedProducts</assignToReference>
            <name>SerializedProducts</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Task_Created</name>
        <label>Task Created</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The Task has been created!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Toast_Message</name>
        <label>Toast Message</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Task_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The selected Serial Numbers will be updated to status Mark as Transferred</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Action Complete</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Continue_Terminate</name>
        <label>Continue/Terminate</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Terminate</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transferred_Product_Screen</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <interviewLabel>Mark as Tran {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mark as Transferred Out</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Toast_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>recievedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!Get_Product_Name.Name} needs to be transferred</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>productTransferId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Product_Name</name>
        <label>Get Product Name</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayFaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Serial_Number_Display</name>
        <label>Serial Number Display</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Continue_Terminate</targetReference>
        </connector>
        <fields>
            <name>markSerialNumbers</name>
            <extensionName>c:markSerialNumbers</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>SerializedProducts</name>
                <value>
                    <elementReference>serializedProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedSerialNumbers</name>
                <value>
                    <elementReference>SelectedSerialNumbers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedSerialNumberIds</name>
                <value>
                    <elementReference>SelectedSerialNumberIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Mark as Transferred Out</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedSerialNumbers</assignToReference>
                <name>selectedSerialNumbers</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedSerialNumberIds</assignToReference>
                <name>selectedSerialNumberIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Cancel</assignToReference>
                <name>terminate</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Transferred_Product_Screen</name>
        <label>Transferred Product Screen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Product_Name</targetReference>
        </connector>
        <fields>
            <name>TransferredProducts</name>
            <extensionName>c:markAsTransferred</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>popupBodyAssign</name>
                <value>
                    <stringValue>Are you sure you want to mark these as Transferred? Marking the selected S.NOs as transferred will also update your inventory details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popUpHeader</name>
                <value>
                    <stringValue>Confirm Action</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedSerialNumbersIds</name>
                <value>
                    <elementReference>SelectedSerialNumberIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SerializedProducts</name>
                <value>
                    <elementReference>serializedProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>productId</name>
                <value>
                    <elementReference>ProductId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>serializedProducts</assignToReference>
                <name>SerializedProducts</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>productTransferId</assignToReference>
                <name>productTransferId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recievedById</assignToReference>
                <name>receivedById</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Serialised_Products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Cancel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productTransferId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recievedById</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScannedSerialNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSerialNumberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSerialNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serializedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>serialNumber</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transferredProductList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>VisitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
