flows/New_Sample_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Show_Toast</name>
        <label>Show Toast</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Sample request was created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Continue_or_Terminate</name>
        <label>Continue or Terminate?</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Terminate</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TerminateFlow</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Details</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <interviewLabel>New Sample Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Sample Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Authorization_Form</name>
        <label>Create Authorization Form</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>AuthorizationFormId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Authorization_Form_Text</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Sample Device Request</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationForm</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Authorization_Form_Consent</name>
        <label>Create Authorization Form Consent</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignRecordIdToReference>AuthorizationFormConsentId</assignRecordIdToReference>
        <connector>
            <targetReference>Esignature</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AuthorizationFormTextId</field>
            <value>
                <elementReference>AuthorizationFormTextId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentGiverId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Sample Device Request</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationFormConsent</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Authorization_Form_Text</name>
        <label>Create Authorization Form Text</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>AuthorizationFormTextId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Authorization_Form_Consent</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AuthorizationFormId</field>
            <value>
                <elementReference>AuthorizationFormId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Locale</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Sample Device Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SummaryAuthFormText</field>
            <value>
                <stringValue>Sample Device Request</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationFormText</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Show_Toast</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Sample Device Request - {!ProductName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Date__c</field>
            <value>
                <elementReference>RequestedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sample Device Request - {!ProductName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Sample Device Request</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get Record Type</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MedicalDeviceRequest</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error_Screen</label>
        <locationX>314</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Detail</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Esignature</name>
        <label>Esignature</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <fields>
            <name>signature</name>
            <extensionName>c:eSignature</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>authFormId</name>
                <value>
                    <elementReference>AuthorizationFormConsentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupMessage</name>
                <value>
                    <stringValue>A case record is created for the request if you proceed.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupHeader</name>
                <value>
                    <stringValue>Submit Request?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactName</name>
                <value>
                    <elementReference>ContactName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Details</name>
        <label>Product Details</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Summary_Details</targetReference>
        </connector>
        <fields>
            <name>CaptureProductDetails</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Capture Product Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductDetails</name>
            <extensionName>c:captureRequestProductDetails</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>productName</name>
                <value>
                    <elementReference>ProductName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>productId</name>
                <value>
                    <elementReference>ProductId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSampleRequest</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>durationName</name>
                <value>
                    <stringValue>Requested Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedDate</name>
                <value>
                    <elementReference>RequestedDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quantValue</name>
                <value>
                    <elementReference>Quantity</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ProductId</assignToReference>
                <name>productId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ProductName</assignToReference>
                <name>productName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>RequestedDate</assignToReference>
                <name>requestedDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Quantity</assignToReference>
                <name>quantValue</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Details</name>
        <label>Request Details</label>
        <locationX>974</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Continue_or_Terminate</targetReference>
        </connector>
        <fields>
            <name>CaptureRequestDetails</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Capture Request Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RequestDetails</name>
            <extensionName>c:relatedPicklistOptions</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountName</name>
                <value>
                    <elementReference>AccountName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationId</name>
                <value>
                    <elementReference>LocationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationName</name>
                <value>
                    <elementReference>LocationName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>ContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactName</name>
                <value>
                    <elementReference>ContactName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountFieldname</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>providerfieldLabel</name>
                <value>
                    <stringValue>Provider</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeHolder</name>
                <value>
                    <stringValue>Search Accounts...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactFieldLabel</name>
                <value>
                    <stringValue>Provider</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactIconName</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactObjectApiName</name>
                <value>
                    <stringValue>contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactPlaceHolder</name>
                <value>
                    <stringValue>Search Contacts....</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContactName</assignToReference>
                <name>contactName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LocationId</assignToReference>
                <name>locationId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LocationName</assignToReference>
                <name>locationName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContactId</assignToReference>
                <name>contactId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AccountId</assignToReference>
                <name>accountId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AccountName</assignToReference>
                <name>accountName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>TerminateFlow</assignToReference>
                <name>cancelFlow</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary_Details</name>
        <label>Summary Details</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Create_Authorization_Form</targetReference>
        </connector>
        <fields>
            <name>Summary_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Summary_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sample_Requests</name>
                    <extensionName>c:captureSummaryDetails</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Sample Request</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>message</name>
                        <value>
                            <stringValue>Does this look all right to you?</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Summary_Detail</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Request Summary&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!ProductName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Sample &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Quantity&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; Requested :  {!Quantity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Requested Date :  {!RequestedDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Account Req :  &lt;a href=&quot;/{!AccountId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!AccountName}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Provider Req :  &lt;a href=&quot;/{!ContactId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!ContactName}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Account Location:  &lt;a href=&quot;/{!LocationId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!LocationName}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Request_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationFormConsentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationFormTextId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RequestedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>TerminateFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
