flows/Trial_Hand_Over.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Case_Mapping</name>
        <label>Create Case Mapping</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <actionName>HandoverSerilizedProductCase</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Case_Mapping_records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Order_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Case_Info.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productId</name>
            <value>
                <elementReference>Case_Info.ProductId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serialnumbersList</name>
            <value>
                <elementReference>SerialNumbers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Trial Device Handover</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>genCaseSerialNumbersList</assignToReference>
            <name>genericCaseKpis</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Product_Handover_Completed</name>
        <label>Product Handover Completed</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Create_Trial_Return_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Order_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Trial request was completed and an order was created.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Product</name>
        <label>Update Product</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <actionName>HandOverController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Serialized_Products</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Order_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ProductId</name>
            <value>
                <elementReference>Case_Info.ProductId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SerialNumbers</name>
            <value>
                <elementReference>SerialNumbers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>serializedProductsList</assignToReference>
            <name>SerializedProducts</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Continue_or_Terminate</name>
        <label>Continue or Terminate?</label>
        <locationX>1766</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Terminate</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TerminateFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_AuthorizationForm</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <interviewLabel>Trial_Hand_Over {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Handover Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Auth_Form_Consent</name>
        <label>Create Auth Form Consent</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignRecordIdToReference>authFormConsentId</assignRecordIdToReference>
        <connector>
            <targetReference>Capture_Singnature</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Order_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AuthorizationFormTextId</field>
            <value>
                <elementReference>authFormTextId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentGiverId</field>
            <value>
                <elementReference>Case_Info.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Handover Trial Device Request</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationFormConsent</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Authorisation_Form</name>
        <label>Create Authorisation Form</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>authFormTextId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Auth_Form_Consent</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Order_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AuthorizationFormId</field>
            <value>
                <elementReference>authformId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Locale</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Handover Trial Device Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SummaryAuthFormText</field>
            <value>
                <stringValue>Handover Trial Device Request</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationFormText</object>
    </recordCreates>
    <recordCreates>
        <name>Create_AuthorizationForm</name>
        <label>Create AuthorizationForm</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>authformId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Authorisation_Form</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Order_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Handover Trial Device Request</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationForm</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Mapping_records</name>
        <label>Create Case Mapping records</label>
        <locationX>50</locationX>
        <locationY>1718</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Order_Error_Message</targetReference>
        </faultConnector>
        <inputReference>genCaseSerialNumbersList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_Order</name>
        <label>create Order</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignRecordIdToReference>OrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Product</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Order_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Case_Info.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId__c</field>
            <value>
                <elementReference>Case_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Case_Info.From_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_PriceBook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Trial</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Trial_Return_Case</name>
        <label>Create Trial Return Case</label>
        <locationX>50</locationX>
        <locationY>2078</locationY>
        <faultConnector>
            <targetReference>Order_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Case_Info.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Case_Info.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Trial Device Return - {!Case_Info.Product.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Date__c</field>
            <value>
                <elementReference>Case_Info.From_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Case_Info.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>Case_Info.ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Handedover__c</field>
            <value>
                <elementReference>handedoverQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Case_Info.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>mdReturnRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Trial Device Return - {!Case_Info.Product.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Date__c</field>
            <value>
                <elementReference>Case_Info.To_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Trial Device Return</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Case_Info</name>
        <label>Case Info</label>
        <locationX>1766</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hand_Over_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Order_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PriceBook</name>
        <label>Get PriceBook</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_Order</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Order_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>1766</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MedicalDeviceReturn</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>mdReturnRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Product_Handover_Completed</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Order_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Info.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Serialized_Products</name>
        <label>Update Serialized Products</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Create_Case_Mapping</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Order_Error_Message</targetReference>
        </faultConnector>
        <inputReference>serializedProductsList</inputReference>
    </recordUpdates>
    <screens>
        <name>Capture_Singnature</name>
        <label>Capture Singnature</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_PriceBook</targetReference>
        </connector>
        <fields>
            <name>esignatureCmp</name>
            <extensionName>c:eSignature</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>authFormId</name>
                <value>
                    <elementReference>authFormConsentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactName</name>
                <value>
                    <elementReference>Case_Info.Contact.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupMessage</name>
                <value>
                    <stringValue>An order is placed for this trial and the product quantity is updated when this request is completed.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupHeader</name>
                <value>
                    <stringValue>Complete Request?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deviceTypeName</name>
                <value>
                    <stringValue>Trial</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Hand_Over_Screen</name>
        <label>Hand Over Screen</label>
        <locationX>1766</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Continue_or_Terminate</targetReference>
        </connector>
        <fields>
            <name>requestedHandoverProduct</name>
            <extensionName>c:requestHandOverProduct</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountlabel</name>
                <value>
                    <stringValue>Account Requesting</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactlabel</name>
                <value>
                    <stringValue>Provider Requesting</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>datelabel</name>
                <value>
                    <stringValue>Trial Duration</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSample</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationlabel</name>
                <value>
                    <stringValue>Account Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quantitylabel</name>
                <value>
                    <stringValue>Trial Quantity Requested</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Case_Info.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serialNumbers</name>
                <value>
                    <elementReference>SerialNumbers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>productLocation</name>
                <value>
                    <elementReference>productLocvalue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>handoverDetailsHeader</name>
                <value>
                    <stringValue>Trial Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>handoverProductHeader</name>
                <value>
                    <stringValue>Trial Devices</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SerialNumbers</assignToReference>
                <name>serialNumbers</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>TerminateFlow</assignToReference>
                <name>cancelFlow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>productLocvalue</assignToReference>
                <name>productLocation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>handedoverQuantity</assignToReference>
                <name>serialNumbersLength</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Error_Message</name>
        <label>Order_Error_Message</label>
        <locationX>314</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OrderFaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>authFormConsentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>authformId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>authFormTextId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>genCaseSerialNumbersList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Generic_Case_KPI__c</objectType>
    </variables>
    <variables>
        <name>handedoverQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>mdReturnRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productItemsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>productLocvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serializedProductsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>SerialNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TerminateFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
